In [86]:
import pandas as pd

In [87]:
df = pd.read_csv("../DATA/new_immigration.csv")
population_df = pd.read_csv("../DATA/us_population.csv")

In [88]:
pop_column = population_df["Present-day borders"]

# take population column and add to migrant df
df = pd.concat([df, pop_column.rename("total_pop")], axis=1)


# Remove commas and convert to int
df['num_immigrants'] = df['num_immigrants'].str.replace(',', '').astype(int)

In [89]:
df.head()

   year  num_immigrants  total_pop
0  1948          170570  154000.00
1  1949          188317  156000.00
2  1950          249187  158804.40
3  1951          205717  160872.26
4  1952          265520  163266.03

In [90]:
# take population column and multiply by 1000 to get raw population
df['total_pop'] = df['total_pop'].mul(1000)
df.head()

   year  num_immigrants    total_pop
0  1948          170570  154000000.0
1  1949          188317  156000000.0
2  1950          249187  158804400.0
3  1951          205717  160872260.0
4  1952          265520  163266030.0

In [91]:
# create new column that is a percentage of total pop
df['migrant_pop_percentage'] = (df['num_immigrants'] / df['total_pop']) * 100
df.head()

   year  num_immigrants    total_pop  migrant_pop_percentage
0  1948          170570  154000000.0                0.110760
1  1949          188317  156000000.0                0.120716
2  1950          249187  158804400.0                0.156914
3  1951          205717  160872260.0                0.127876
4  1952          265520  163266030.0                0.162630

In [92]:
gdp_df = pd.read_csv("../DATA/GDP.csv")
gdp_percent_df = pd.read_csv("../DATA/GDP_percent_change.csv")

chosenColumn = gdp_df["GDP"]
chosenColumn2 = gdp_percent_df["GDP_PC1"]

# add chosen columns to df
df = pd.concat([df, chosenColumn], axis=1)
df = pd.concat([df, chosenColumn2], axis=1)